<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Curso</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/curso.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/curso/registrar}" method="post"
			th:object="${curso}">
			<div class="form-group">
				<label for="idCruso">ID:</label> 
				<input type="text"	th:field="*{idCurso}"></input>
				
				<div class="form-group">
				<label for="codigoCurso">Código:</label> 
				<input type="text"	th:field="*{codigoCurso}"
				class="form-control" id="codigo"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('codigoCurso')}"
				th:errors="*{codigoCurso}"></div>
				
				</div>
				
				<div class="form-group">
				<label for="nombreCurso">Nombre:</label> 
				<input type="text"	th:field="*{nombreCurso}"
				class="form-control" id="nombre"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('nombreCurso')}"
				th:errors="*{nombreCurso}"></div>
				
				</div>
				
			</div>
			<button type ="submit" class="btn btn-primary">Aceptar</button>
			<a href="/curso/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
